* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr;
    height: 100vh;
}

header {
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

header > div {
    display: flex;
    align-items: center;
}

header img {
    width: 20px;
    padding: 0 10px;

}

header > button {
    margin-right: 10px;
    padding: 0 10px;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px 1fr;
}

nav {

    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 380px;
}

nav .botao {
    display: flex;
    justify-content: space-between;
}

.botao > img {
    height: 20px;
    padding: 10px;
    
}

.icone-texto {
    display: flex;
    padding: 10px 0;
}

nav img {
    width: 20px;
    margin-right: 10px;
}

nav > div > p {
    padding-right: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.658) ;
}

.card img {
    width: 100%;
}

.card h2 {
    padding: 30px 0;
}

.card p {
    padding: 0 10px 10px 10px;
}

.pagina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

footer {
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer > p > span {
    font-weight: bolder;
}
