* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed 0 0 0;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

main {
    height: 1000px;
}

footer {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}